<!--  Iteration of all spaces with capacity <= 0 -->
<% @spaces.each do |x| %>
  <% next if x.capacity == nil || x.capacity <= 0 %>
  <ul class = "all-list">
    <li><p>Address: <%= x.address %></p></li>
    <li><p>Capacity: <%= x.capacity %></p></li>
    <li><p>Garbage Day: <%= x.garbaje_day %></p></li>
    <li><p>Quantity: <%= @quantity %></p></li>
    <!-- <button type="button" id="buy-spot">Buy the spot</button> -->
    <%= button_to "Throw Garbage Here", new_user_space_transactions_path(@user, x), class: "map-trans-btn", :method => :get, :params => {quantity: @quantity} %>

  </ul>
<% end %>
