

Thank you <%= @user.first_name %> to sell your spot(s): <br /><br />
<% y = 1 %>
<% @spaces.each do |x| %>
  <%= y %>. Address: <%= x.address %> -
  Capacity: <%= x.capacity %> <br />
  <% y += 1 %>

  <% end %>


<%= javascript_tag do %>
  window.spaces = <%=raw @spaces.to_json %>;
<% end %>

<!-- map injected here -->
  <!-- <div id="map" data-title="<%= @spaces[0].address %>" data-latitude="<%= @spaces[0].latitude %>" data-longitude="<%= @spaces[0].longitude %>">

  </div> -->
