<h1>How many spaces would you like to sell, <%= @user.first_name %>?</h1>

<%= form_for [@user, @space] do |f| %>

<div class="form_field">
  <%= f.label :capacity %>
  <%= f.number_field :capacity, min:1 , max: 4 %>
</div>
<br />
<div class="submit">
  <%= f.submit 'update', data: { confirm: 'Are you sure you want to sell this space?' } %>
</div>



<% end %>
