<div class="map-trans">
  <div class="column-left">
    <div id='map' class="map animated fadeInDown"></div>
    <%= javascript_tag do %>
      window.spaces = <%=raw @spaces.to_json %>;
    <% end %>
  </div>

  <div class="column-right">
    <div class="map-form">
      <%= form_tag do %>
        <strong><%= label_tag 'Quantity:'%></strong>
        <%= number_field_tag 'quantity' %>
        <button type="button" class="btn-front" id="find-nearby" >Find Available Space Near Me!</button>
      <% end %>
    </div>
    <div class="geolocation-list"></div>
  </div>

</div>

<!--
<section id="spaces-section">
  <%#= render "spaces/spaces" %>
</section> -->
